<header class="navigation">
  <div class="navigation__container">
    <div class="navigation__icon">
      <span class="icon__span"></span>
    </div>
    <h1 class="navigation__logo">LOGO</h1>
    <ul class="navigation__list">
      <li><a class="list__nav-item" href="/">Home</a></li>
      <li>
        <a class="list__nav-item" href="/service">Our Services</a>
      </li>
      <li><a class="list__nav-item" href="#">About us</a></li>
      <li><a class="list__nav-item" href="#">Contact us</a></li>
    </ul>
  </div>
  <img class="header__log header-icon" src="/log-in.svg" />
  <img class="header__cart header-icon" src="/cart.svg" />
</header>
