<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error page</title>
    <link rel="stylesheet" href="/error.css" />
  </head>
  <body>
    <a href="/"><img class="come-back" src="/arrow.png" /></a>
    <h1>Error 404</h1>
    <p>something went wrong...</p>
  </body>
</html>
