<footer class="footer">
  <div class="footer__messages flex">
    <div class="message__circle">
      <img class="message__img" src="/icon-instagram.svg" alt="network" />
    </div>
    <div class="message__circle">
      <img class="message__img" src="/icon-whatsapp.svg" alt="network" />
    </div>
    <div class="message__circle">
      <img class="message__img" src="/icon-facebook.svg" alt="network" />
    </div>
  </div>

  <div class="footer__container container flex">
    <div class="footer__col-01">
      <h2 class="footer__logo">LOGO</h2>
      <p class="footer__text">
        Lorem ipsum dolor sit amet, consectetur<br />adipiscing elit.
        consectetur
      </p>
      <div class="col-01__phone flex">
        <img class="col-01__img" src="/call.svg" alt="call" />
        <p class="phone__number">8905656778, 8905656778</p>
      </div>
      <div class="col-01__email flex">
        <img class="col-01__img" src="/email.svg" alt="email" />
        <p class="email__text">abc@gmail.com, def@gmail.com</p>
      </div>
      <div class="col-01__location flex">
        <img class="col-01__img" src="/icon-location.svg" alt="location" />
        <p class="location__place">
          B-531, Nalbanda Street, Hazuri Rd, Ludhiana, Punjab 141008
        </p>
      </div>
    </div>
    <div class="footer__col-02 flex">
      <h3 class="col-02__title col-title">Quick Links</h3>
      <a class="col-02__link col-link" href="/">Home</a>
      <a class="col-02__link col-link" href="#">Who we are</a>
      <a class="col-02__link col-link" href="/service">Our Services</a>
    </div>
    <div class="footer__col-03 flex">
      <h3 class="col-03__title col-title">Services</h3>
      <a class="col-03__link col-link" href="#">Men's Tshirt</a>
      <a class="col-03__link col-link" href="#">Women's Tshirt</a>
      <a class="col-03__link col-link" href="#">Kid's Tshirt</a>
      <a class="col-03__link col-link" href="#">Men's Trousers </a>
      <a class="col-03__link col-link" href="#">Kid's Trousers</a>
    </div>
  </div>
</footer>
